<h2 class="header header-efx">{{titulo}}</h2>
<form>
    <div class="form-group row">
        <label for="idPersona" class="col-sm-2 col-form-label">idPersona</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="idPersona" [(ngModel)]="sysusuario.idPersona">
        </div>
    </div>
    <div class="form-group row">
        <label for="idSysPerfil" class="col-sm-2 col-form-label">idSysPerfil</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="idSysPerfil" [(ngModel)]="sysusuario.idSysPerfil">
        </div>
    </div>
    <div class="form-group row">
        <label for="usrUsuario" class="col-sm-2 col-form-label">usrUsuario</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usrUsuario" [(ngModel)]="sysusuario.usrUsuario">
        </div>
    </div>
    <div class="form-group row">
        <label for="usrClave" class="col-sm-2 col-form-label">usrClave</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usrClave" [(ngModel)]="sysusuario.usrClave">
        </div>
    </div>
    <div class="form-group row">
        <label for="usrCorreo" class="col-sm-2 col-form-label">usrCorreo</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usrCorreo" [(ngModel)]="sysusuario.usrCorreo">
        </div>
    </div>
    <div class="form-group row">
        <label for="estado" class="col-sm-2 col-form-label">Estado</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="estado" [(ngModel)]="sysusuario.usrActivo">
        </div>
    </div>
    <div class="form-group row">
        <label for="usrFechaCreado" class="col-sm-2 col-form-label">usrFechaCreado</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usrFechaCreado" [(ngModel)]="sysusuario.usrFechaCreado">
        </div>
    </div>
    <div class="form-group row">
        <label for="usrFechaEditado" class="col-sm-2 col-form-label">usrFechaEditado</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usrFechaEditado" [(ngModel)]="sysusuario.usrFechaEditado">
        </div>
    </div>
    <input type="hidden" value="" name="id" [(ngModel)]="sysusuario.idUsr">
    <div class="form-group row">
        <div class="col-sm-8 center">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!sysusuario.idUsr else elseBlock">
                <i class="fa fa-save"></i> CREAR
            </button>
            <ng-template #elseBlock>
                <button class="btn btn-primary" role="button" (click)='update()'>
                    <i class="fa fa-save"></i> EDITAR
                </button>
            </ng-template>
            <a routerLink="/sysusuario" class="btn btn-danger">
                <i class="fa fa-reply"></i> VOLVER
            </a>
        </div>
    </div>
</form>
