<div class="col-xs-12">
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Resolución : </div>
            <div class="profile-info-value"><span >{{resolucion.rslNumero}}</span></div>
        </div>
        <div class="col-sm-4">
            <div class="profile-info-name"></div>
            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b></b></span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha resolución</div>
            <div class="profile-info-value"><span >{{resolucion.rslFechaResolucion}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Tipo resolucion</div>
            <div class="profile-info-value"><span >{{resolucion.tipoResolucion.trslTitulo}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha inicio</div>
            <div class="profile-info-value"><span >{{resolucion.rslFechaInicio}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha entrega</div>
            <div class="profile-info-value"><span >{{resolucion.rslFechaEntrega}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Observación</div>
            <div class="profile-info-value"><span >{{resolucion.rslObservacion}}</span></div>
        </div>				
    </div>
    
</div>