<!-- <h2 class="header header-efx">{{titulo}}</h2> -->
<form>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Código : </div>
            <div class="profile-info-value"><span >{{evolucion.evlCodigo}}</span></div>
        </div>
        <div class="col-sm-4">
            <div class="profile-info-name"></div>
            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b></b></span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha cita</div>
            <div class="profile-info-value"><span >{{evolucion.evlFechaCita}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Descripción</div>
            <div class="profile-info-value"><span >{{evolucion.evlDescripcion}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Tarea</div>
            <div class="profile-info-value"><span >{{evolucion.evlTareas}}</span></div>
        </div>				
    </div>
    <div style="clear: both;"></div>
    <!-- <h3 class="header blue">Estado</h3> -->
    <div class="form-group row">
        <label for="evlComentario" class="col-sm-2 col-form-label">Comentario</label>
        <div class="col-sm-8">
            <textarea class="form-control" name="evlComentario" [(ngModel)]='evolucion.evlComentario' rows="6"></textarea>
        </div>
    </div>
    <input type="hidden" value="" name="idEvl" [(ngModel)]="evolucion.idEvl">
    <br/>
    <div class="form-group row">
        <div class="col-sm-12 center">
            <button class="btn btn-primary" role="button" (click)='updateTemaEvolucionEstudiante()'>
                <i class="fa fa-save"></i> GUARDAR Y ENVIAR
            </button>
            <a class="btn btn-danger" (click)='closeDialog()'>
                <i class="fa fa-reply"></i> CANCELAR
            </a>
        </div>
    </div>
</form>
