<h2 class="header header-efx">{{titulo}}</h2>


<div class="col-xs-12">
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Código : </div>
            <div class="profile-info-value"><span >{{evolucion.evlCodigo}}</span></div>
        </div>
        <div class="col-sm-4">
            <div class="profile-info-name"></div>
            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b></b></span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha cita</div>
            <div class="profile-info-value"><span >{{evolucion.evlFechaCita}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Descripción</div>
            <div class="profile-info-value"><span >{{evolucion.evlDescripcion}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Tarea</div>
            <div class="profile-info-value"><span >{{evolucion.evlTareas}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Fecha validación</div>
            <div class="profile-info-value"><span >{{evolucion.evlFechaValida}}</span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Comentario</div>
            <div class="profile-info-value"><span >{{evolucion.evlComentario}}</span></div>
        </div>				
    </div>
    
</div>














