<h2 class="header header-efx">{{titulo}}</h2>
<div class="widget-box widget-color-dark ui-sortable-handle" id="widget-box-11">
    <div class="widget-header">
        <button type="button" id="btnFormFilter" class="btn btn-primary hide">
            <i class="fa fa-search"></i> BUSCAR
        </button>
        <a routerLink="/correo/form" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i> NUEVO
        </a>
    </div>
    <div class="widget-body hide" style="display: block; padding: 5px 10px;">
        <div class="content font-small">
            <fieldset>
                <legend>Filtros :</legend>
                <form id="formFilter" class="formFilter" action="/empleado/listar" method="POST">
                    <div class="form-group row">
                        <div class="col col-xs-3 col-sm-3 col-lg-3">
                            <label for="nombres" class="col-form-label"> Nombre : </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
    <thead class="thead-inverse">
        <tr>
            <th class="center" style="width: 30px;"></th>
            <th class="center" style="width: 100px;">Acciones</th>
            <th class="center" style="width: 30px;">ID</th>
            <th>Host</th>
            <th>Protocolo</th>
            <th>Html</th>
            <th>Notificacion</th>
            <th>Recordatorio</th>
            <th>correoActivo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of correos">
            <td class="center" style="width: 30px;"></td>
            <td class="actions center" style="width: 100px">
                <button type="button" name="editar" [routerLink]="['/correo/form', item.idCorreo]" class="btn btn-primary btn-xs" title="Editar">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="button" name="eliminar" (click)='delete(item)' class="btn btn-danger btn-xs" title="Eliminar">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
            <td>{{item.idCorreo}}</td>
            <td>{{item.correoHost}}</td>
            <td>{{item.correoProtocolo}}</td>
            <td>{{item.correoHtml}}</td>
            <td>{{item.correoNotificacion}}</td>
            <td>{{item.correoRecordatorio}}</td>
            <td>{{item.correoActivo}}</td>            
        </tr>
    </tbody>
</table>