<h2 class="header header-efx">{{titulo}}</h2>


<div id="tabs_evolucion_detalle" class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="javascript:void(0)" (click)="showTab('tab-tema')"><i class="fa fa-certificate"></i>&nbsp; Tema</a></li>
        <li><a href="javascript:void(0)" (click)="showTab('tab-asignado')"><i class="fa fa-certificate"></i>&nbsp; Asignado</a></li>
        <li><a href="javascript:void(0)" (click)="showTab('tab-resolucion')"><i class="fa fa-certificate"></i>&nbsp; Resolución</a></li>        
    </ul>
    
    <div class="tab-content">

        <div id="tab-tema" class="tab-pane">
            <div id="cont-tab-tema">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Autor : </div>
                            <div class="profile-info-value"><span >{{tema.persona.perApellido + " " + tema.persona.perNombre}}</span></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="profile-info-name">Estado</div>
                            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b>{{tema.nombreEstado}}</b></span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Título</div>
                            <div class="profile-info-value"><span >{{tema.temNombre}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Descripción</div>
                            <div class="profile-info-value"><span >{{tema.temDescripcion}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">No Estudiantes</div>
                            <div class="profile-info-value"><span >{{tema.temNumEst}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Fecha</div>
                            <div class="profile-info-value"><span >{{tema.temFechaCreado}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Tipo Documento</div>
                            <div class="profile-info-value"><span >{{tema.nombreTipo}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">% Avance</div>
                            <div class="profile-info-value"><span >{{tema.temPorcAvance}}</span></div>
                        </div>				
                    </div>
                    
                </div>
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

        <div id="tab-asignado" class="tab-pane">
            <div id="cont-tab-asignado">
                <table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="center" style="width: 30px;"></th>
                            <th class="center hide" style="width: 30px;">ID</th>
                            <th>Cédula</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tema.asignados; index as i">
                            <td class="center" style="width: 30px;">{{i + 1}}</td>
                            <td class="hide">{{item.idAsg}}</td>
                            <td>{{item.persona.perCedula}}</td>
                            <td>{{item.persona.perApellido}}</td>
                            <td>{{item.persona.perNombre}}</td>
                            <td>{{item.asgFechaRegistro}}</td>
                            <td>{{item.asgIdEstadoTema}}</td>            
                        </tr>
                    </tbody>
                </table>                
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

        <div id="tab-resolucion" class="tab-pane">
            <div id="cont-tab-resolucion">
                <table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="center" style="width: 30px;"></th>
                            <th class="center" style="width: 100px;">Acciones</th>
                            <th class="center hide" style="width: 30px;">ID</th>
                            <th>Resolución</th>
                            <th>Fecha Resolución</th>
                            <th>Tipo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tema.resoluciones; index as i">
                            <td class="center" style="width: 30px;">{{i + 1}}</td>
                            <td class="actions center" style="width: 100px">
                                <button type="button" name="ver detalle" (click)='openDialog(item)' class="btn btn-primary btn-xs" title="Eliminar">
                                    <i class="fa fa-search"></i>
                                </button>
                            </td>
                            <td class="hide">{{item.idRsl}}</td>
                            <td>{{item.rslNumero}}</td>
                            <td>{{item.rslFechaResolucion}}</td>
                            <td>{{item.tipoResolucion.idTrsl}}</td>
                            <td>{{item.rslFechaInicio}}</td>
                            <td>{{item.rslFechaEntrega}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-12 center">
            <a routerLink="/dashboard/docentehito" class="btn btn-danger">
                <i class="fa fa-reply"></i> VOLVER
            </a>
        </div>
    </div>
</div>

<div id="dialog">
    <div>
        <div class="ad-banner-example">
            <ng-template ad-host></ng-template>
        </div>
    </div>
</div>