<h2 class="header header-efx">{{titulo}}</h2>
<div class="col-xs-12">
    <div class="row">
        <div class="col-sm-4">
            <div class="profile-info-name">Tipo :</div>
            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b>{{tema.nombreTipo}}</b></span></div>
        </div>				
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="profile-info-name">Tema :</div>
            <div class="profile-info-value"><span >{{tema.temNombre}}</span></div>
        </div>				
    </div>
</div>
<div style="clear: both;"></div>
<table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
    <thead class="thead-inverse">
        <tr>
            <th class="center" style="width: 30px;"></th>
            <th class="center" style="width: 100px;">Acciones</th>
            <th class="center hide" style="width: 30px;">ID</th>
            <th>Codigo</th>
            <th>Fecha Entrega</th>
            <th>Fecha validación</th>
            <th>Validado</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tema.hitos; index as i">
            <td class="center" style="width: 30px;">{{i + 1}}</td>
            <td class="actions center" style="width: 100px">
                <button type="button" name="editar" (click)='openDialog2(item)' title="Editar" [className]="item.hitValida ? 'btn btn-primary btn-xs' : 'btn btn-primary btn-xs disabled'">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="button" name="detalle" (click)='openDialog(item)' class="btn btn-primary btn-xs" title="Ver Detalle">
                    <i class="fa fa-search"></i>
                </button>
            </td>
            <td class="hide">{{item.idHit}}</td>
            <td>{{item.hitCodigo}}</td>
            <td>{{item.hitFechaEntrega}}</td>
            <td>{{item.hitFechavalida}}</td>
            <td>{{item.hitValida}}</td>
            <td>{{item.evlIdEstado}}</td>         
        </tr>
    </tbody>
</table>
<br>
    <div class="form-group row">
        <div class="col-sm-12 center">
            <a routerLink="/dashboard/docentehito" class="btn btn-danger">
                <i class="fa fa-reply"></i> VOLVER
            </a>
        </div>
    </div>

<div id="dialog2">
    <div>
        <div class="ad-banner-example">
            <ng-template ad-host></ng-template>
        </div>
    </div>
</div>