<div id="tabs_docentetema_detalle" class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="javascript:void(0)" (click)="showTab2('tab-tema')"><i class="fa fa-certificate"></i>&nbsp; Tema</a></li>
        <li><a href="javascript:void(0)" (click)="showTab2('tab-informe')"><i class="fa fa-certificate"></i>&nbsp; Informe</a></li>
        <li><a href="javascript:void(0)" (click)="showTab2('tab-resolucion')"><i class="fa fa-certificate"></i>&nbsp; Resolución</a></li>        
    </ul>
    
    <div class="tab-content">

        <div id="tab-tema" class="tab-pane">
            <div id="cont-tab-tema">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Autor : </div>
                            <div class="profile-info-value"><span >{{tema.persona.perApellido + " " + tema.persona.perNombre}}</span></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="profile-info-name">Estado</div>
                            <div class="profile-info-value" style="background-color: #b5d4fb;"><span><b>{{getNombreEstadoPorLista(tema.temIdEstado, tab)}}</b></span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Título</div>
                            <div class="profile-info-value"><span >{{tema.temNombre}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Descripción</div>
                            <div class="profile-info-value"><span >{{tema.temDescripcion}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">No Estudiantes</div>
                            <div class="profile-info-value"><span >{{tema.temNumEst}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Fecha</div>
                            <div class="profile-info-value"><span >{{parseDateToString(tema.temFechaCreado)}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">Tipo Documento</div>
                            <div class="profile-info-value"><span >{{getNombreTipoPorLista(tema.temIdTipo)}}</span></div>
                        </div>				
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="profile-info-name">% Avance</div>
                            <div class="profile-info-value"><span >{{tema.temPorcAvance}}</span></div>
                        </div>				
                    </div>
                    
                </div>
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

        <div id="tab-informe" class="tab-pane">
            <div id="cont-tab-informe">
                <table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="center" style="width: 30px;"></th>
                            <th class="center hide" style="width: 30px;">ID</th>
                            <th>Informe</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tema.informes; index as i">
                            <td class="center" style="width: 30px;">{{i + 1}}</td>
                            <td class="hide">{{item.idInf}}</td>
                            <td>{{item.infInforme}}</td>
                            <td>{{parseDateToString(item.infFecha)}}</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

        <div id="tab-resolucion" class="tab-pane">
            <div id="cont-tab-resolucion">
                <table class="table table-striped table-bordered font-small" style="width:100%; margin-bottom:0px;">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="center" style="width: 30px;"></th>
                            <th class="center hide" style="width: 30px;">ID</th>
                            <th>Resolución</th>
                            <th>Fecha Resolución</th>
                            <th>Tipo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tema.resoluciones; index as i">
                            <td class="center" style="width: 30px;">{{i + 1}}</td>
                            <td class="hide">{{item.idRsl}}</td>
                            <td>{{item.rslNumero}}</td>
                            <td>{{parseDateToString(item.rslFechaResolucion)}}</td>
                            <td>{{item.tipoResolucion.idTrsl}}</td>
                            <td>{{parseDateToString(item.rslFechaInicio)}}</td>
                            <td>{{parseDateToString(item.rslFechaEntrega)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-4" style="clear:both"></div>
        </div>

    </div>
    <br>
</div>

<div id="dialog2">
    <div>
        <div class="ad-banner-example">
            <ng-template ad-host></ng-template>
        </div>
    </div>
</div>