<form>
    <div class="form-group row">
        <label for="temIdTipo" class="col-sm-2 col-form-label">Tipo</label>
        <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="temIdTipo" [(ngModel)]="tema.temIdTipo"> -->
            <select class="form-control" name="miselect" [(ngModel)]="tema.temIdTipo">
                <option [value]="item.id" *ngFor="let item of listTipoTema">{{item.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="temNombre" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="temNombre" [(ngModel)]='tema.temNombre' rows="4"></textarea>
            <!-- <input type="text" class="form-control" name="temNombre" [(ngModel)]="tema.temNombre"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="temDescripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="temDescripcion" [(ngModel)]='tema.temDescripcion' rows="4"></textarea>
            <!-- <input type="text" class="form-control" name="temDescripcion" [(ngModel)]="tema.temDescripcion"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="temAuspiciante" class="col-sm-2 col-form-label">Auspiciante</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="temAuspiciante" [(ngModel)]="tema.temAuspiciante">
        </div>
    </div>
    <div class="form-group row">
        <label for="temObservacion" class="col-sm-2 col-form-label">Observación</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="temObservacion" [(ngModel)]="tema.temObservacion">
        </div>
    </div>
    <div class="form-group row">
        <label for="temNumEst" class="col-sm-2 col-form-label">Número de estudiantes</label>
        <div class="col-sm-10">
            <select class="form-control" name="miselect2" [(ngModel)]="tema.temNumEst">
                <option [value]="0">0</option>
                <option [value]="1">1</option>
                <option [value]="2">2</option>
            </select>
            <!-- <input type="text" class="form-control" name="temNumEst" [(ngModel)]="tema.temNumEst"> -->
        </div>
    </div>
    
    <input type="hidden" value="" name="id" [(ngModel)]="tema.idTem">
    <div class="form-group row">
        <div class="col-sm-12 center">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!tema.idTem else elseBlock">
                <i class="fa fa-save"></i> CREAR
            </button>
            <ng-template #elseBlock>
                <button class="btn btn-primary" role="button" (click)='update()'>
                    <i class="fa fa-save"></i> EDITAR
                </button>
            </ng-template>
        </div>
    </div>
</form>
